<h2>Encontros Presenciais</h2>

<div class="inner">
<p>
Geralmente realizamos um encontro mensal, aos sábados na parte da manhã.<br />
Veja o que aconteceu nos encontros anteriores e quando serão os próximos encontros.
</p>

<ul class="list">
  <% for meeting in @meetings %>
  <li>
    <div class="left">
      <div class="meeting-id"><%= meeting.id %></div>
    </div>
    <div class="item">
      <h3><%= link_to meeting.title, meeting_path(meeting) %></h3>
      <div class="date"><div class="icon date-icon"></div><%= l(meeting.date) %></div>
      </p>
    </div>
  </li>
  <% end %>
</ul>
</div>

