<h2>Encontros Presenciais</h2>

<div class="inner">
<p>
O Guru-SP geralmente realiza um encontro mensal, nos sábados na parte da manhã.</ br>
Aqui você encontra o que acontecerá nos nossos próximos encontros e também o que rolou nos encontros anteriores, incluindo fotos, vídeos e slides das palestras.
</p>

<ul class="list">
  <% for meeting in @meetings %>
  <li>
    <div class="left">
      <div class="meeting-id"><%= meeting.id %></div>
    </div>
    <div class="item">
      <h3><%= link_to meeting.title, meeting_path(meeting) %></h3>
      <div class="date"><div class="icon date-icon"></div><%= l(meeting.date) %></div>
      <div class="place"><div class="icon place-icon"></div>Auditório da Caelum</div>
      </p>
    </div>
  </li>
  <% end %>
</ul>
</div>

