<h2><%= @meeting.title %></h2>
<div class="inner meeting-body">
  <div class="info">
    <div class="date"><div class="icon date-icon"></div><%= l(@meeting.date) %></div>
    <div class="place"><div class="icon place-icon"></div>Auditório da Caelum</div>
  </div>
  <p id="notice"><%= notice %></p>
  <p>
    <h3>Descrição</h3>
    <%=raw @meeting.description %>
  </p>
</div>

