log/*
tmp/*
db/*.sqlite3
coverage
solr
public/cache
public/system
public/uploads
doc/specs.html
doc/features.html
tags
*~
rerun.txt
.bundle
db/schema.rb
specifications
cache
gems
spec/requests
spec/routing
spec/views
capybara*
.ruby-version
public/stylesheets
.sass-cache/*
