<%= content_for :javascripts do %>
  <%= javascript_include_tag "twitter_widget" %>
<% end %>

<footer class="text-center">

  <div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-3">
        </div>
        <div class="footer-col col-md-6">
          <h3>Guru-SP na Web</h3>
          <ul class="list-inline">
            <li>
              <a href="https://groups.google.com/group/ruby-sp?hl=pt" class="btn-social btn-outline">
                <i class="fa fa-fw fa-group"></i>
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/groups/gurusp" class="btn-social btn-outline">
                <i class="fa fa-fw fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="https://plus.google.com/communities/117819553531335803357" class="btn-social btn-outline">
                <i class="fa fa-fw fa-google-plus"></i>
              </a>
            </li>
            <li>
              <a href="https://www.twitter.com/guru_sp" class="btn-social btn-outline">
                <i class="fa fa-fw fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="irc://freenode/#guru-sp" class="btn-social btn-outline" alt="Canal no IRC">#
              </a>
            </li>
            <li>
              <a href="https://github.com/guru-sp" class="btn-social btn-outline">
                <i class="fa fa-fw fa-github"></i>
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/channel/UCrxf9jYw4gva_9jwb-77AqQ" class="btn-social btn-outline">
                <i class="fa fa-fw fa-youtube"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="footer-col col-md-3">
        </div>
      </div>
    </div>
  </div>

  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          Copyleft &copy; 2008-<%= Time.now.year %>, Grupo de Usuários Ruby de São Paulo,
          tema baseado no <a href="http://startbootstrap.com">Freelance</a>
        </div>
      </div>
    </div>
  </div>

  </footer>
