<div class="block notice">
<h4 class="twitter_guru">Twitter do GURU-SP</h4>
<p>
  Uma mensagem
<p>
<p>
  Outra mensagem
<p>
<p>
  <a href="http://twitter.com/#!/guru_sp" alt="Conta do guru_sp no Twitter">@guru_sp</a>
<p>
</div>

