<div class="block notice">
<span class=""><img src="/assets/twitter_bird.png" /></span>
<h4>Twitter do GURU-SP</h4>
<p>
  Uma mensagem
<p>
<p>
  Outra mensagem
<p>
<p>
  <a href="http://twitter.com/#!/guru_sp" alt="Conta do guru_sp no Twitter">@guru_sp</a>
<p>
</div>

