<div class="block notice">
<h4 class="twitter_guru">Twitter</h4>
<ul class="tweets">
  <li>
    Rails 3.1.0 was released!!! https://rubygems.org...
    <div class="date">há 20 minutos</span>
  </li>
  <li>poutz, mas vcs estão por fora mesmo hein! Para quem não sabia, evento de ruby on #rails <a href="http://j.mp/nKSEfB">http://j.mp/nKSEfB</a></li>
</ul>
  <p>
    <a class="follow_us" href="http://twitter.com/#!/guru_sp" alt="Conta do guru_sp no Twitter">Siga o @guru_sp &raquo;</a>
  </p>
</div>

