<%= content_for :javascripts do %>
  <%= javascript_include_tag "twitter_widget" %>
<% end %>

<div class="block notice twitter">
  <h4 class="twitter_logo">Twitter</h4>
  <div class="tweets">
    <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/guru_sp"  data-widget-id="348202427201236992">Tweets by @guru_sp</a>
  </div>
  <p>
    <a class="follow_us" href="http://twitter.com/#!/guru_sp">siga o @guru_sp &raquo;</a>
  </p>
</div>

