<div class="block notice">
<h4 class="twitter_guru">Twitter</h4>

<ul class="tweets">
  <% cache("tweets", :expires_in => 15.minutes) do  %>
    <% Twitter.user_timeline("guru_sp", :count => 3).each do |tweet| %>
    <li>
      <%= tweet.text %>
      <div class="date">hรก <%= distance_of_time_in_words_to_now(tweet.created_at) %></span>
    </li>
    <% end %>
  <% end %>
</ul>
  <p>
    <a class="follow_us" href="http://twitter.com/#!/guru_sp" alt="Conta do guru_sp no Twitter">siga o @guru_sp &raquo;</a>
  </p>
</div>

