<h2>Patrocinadores</h2>

<div class="inner">
  <p>As empresas e organizações aqui listadas tornaram nossos encontros possíveis seja disponibilizando
  local adequado, infra-estrutura ou alimentação para os participantes.</p>

  <p><strong>Obrigado!</strong></p>

  <ul>
    <% for sponsor in @sponsors %>
      <li><%= link_to sponsor.name, sponsor.url %></li>
    <% end %>
  </ul>
</div>
