<h2>Seja bem vindo ao site do GURU-SP!</h2>

<div class="inner">
  <p>
    O <strong>GURU-SP</strong>, Grupo de Usuários Ruby de São Paulo, é uma associação de pessoas interessadas em aprender, ensinar e divulgar o uso da linguagem de programação <a href="http://www.ruby-lang.org/pt/">Ruby</a> e de seus diversos frameworks, bibliotecas e aplicações. O grupo também está aberto para a discussão de outros assuntos relacionados ao desenvolvimento de software, tais como: metodologias de desenvolvimento, novas tecnologias e mercado de trabalho.
  </p>

  <h3>Encontros presenciais</h3>
  <p>Costumamos realizar encontros mensais com apresentações, entre outras atividades. Veja o que aconteceu nos <%= link_to "últimos encontros", meetings_path %> e particpe dos próximos encontros.</p>

  <h3>Na Internet</h3>
  <p>
    <a href="https://groups.google.com/group/ruby-sp?hl=pt">Inscreva-se em nossa lista de discussão</a> para conhecer mais pessoas interessadas na linguagem e tirar suas dúvidas sobre Ruby e colaborar na realização de nossos encontros.<br />
  Para dúvidas específicas sobre o framework web Ruby on Rails recomendamos a <a href="https://groups.google.com/group/rails-br?hl=pt">Rails-BR</a>.<br />
  Outra alternativa é o <a href="/canal-irc">nosso canal de <acronym title="Internet Relay Chat">IRC</acronym></a> <strong>#guru-sp</strong>, na rede <em>freenode</em>.
  </p>

</div>

