<h2>Seja bem vindo!</h2>

<div class="inner">
  <p>
  O <strong>Guru-SP</strong>, Grupo de Usuários Ruby de São Paulo, é uma associação de pessoas interessadas em aprender, ensinar e divulgar o uso da linguagem de programação <a href="http://www.ruby-lang.org/pt/" alt="Site oficial da Linguagem Ruby">Ruby</a> e seus diferentes frameworks, bibliotecas e aplicações como os frameworks Rails e Sinatra, o FXRuby, JRuby e o Shoes. Nosso grupo também se interessa
  por outros assuntos ligados ao desenvolvimento de software como: processos e metodologias de desenvolvimento, bancos de dados e novas tecnologias.
  </p>

  <p>
  Para participar é simples: <a href="https://groups.google.com/group/ruby-sp?hl=pt" alt="Lista de discussão do GurupS-P">inscreva-se em nossa lista de discussão</a> para conhecer mais pessoas interessadas na linguagem que foi criada para a alegria dos programadores. Se quiser aparecer na lista de membros deste site, basta <%= link_to "inscrever-se", user_registration_path %>.
  </p>
</div>

