<h2>Seja bem vindo!</h2>

<div class="inner">
  <p>
    O <strong>GURU-SP</strong>, Grupo de Usuários Ruby de São Paulo, é uma associação de pessoas interessadas em aprender, ensinar e divulgar o uso da linguagem de programação <a href="http://www.ruby-lang.org/pt/" alt="Site oficial da Linguagem Ruby">Ruby</a> e seus diferentes frameworks, bibliotecas e aplicações. Nosso grupo também está aberto para a discussão de outros assuntos relacionados ao desenvolvimento de software e programação, tais como: processos e metodologias de desenvolvimento, bancos de dados, novas tecnologias e mercado de trabalho.
  </p>

  <h3>Encontros presenciais</h3>
  <p>Geralmente realizamos um encontro mensal, aos sábados no auditório da <a href="http://www.caelum.com.br" alt="Caelum - Ensino e Inovação">Caelum</a>. Nos encontros nossos membros e convidados fazem apresentações sobre projetos pessoais, novas tecnologias e experiências profissionais além de outras atividades como mesas redonda e coding dojos. Depois do encontro, os participantes se reunem em algum bar para descontrair. Nossos encontros são abertos a todos: curiosos, iniciantes ou ninjas. Veja o que rolou nos <%= link_to "últimos encontros", meetings_path %>.</p>

  <h3>Lista de discussão</h3>
  <p><a href="https://groups.google.com/group/ruby-sp?hl=pt" alt="Lista de discussão do Guru-SP">Inscreva-se em nossa lista de discussão</a> no Google Groups para conhecer mais pessoas interessadas na linguagem e tirar suas dúvidas sobre Ruby e colaborar na realização de nossos encontros presenciais. Para tirar dúvidas sobre o framework web Ruby on Rails recomendamos a lista <a href="https://groups.google.com/group/rails-br?hl=pt" alt="Lista de discussão Rails-BR">Rails-BR</a>.
  </p>

  <h3>Membros</h3>
  <p>Se quiser aparecer na lista de membros deste site, basta <%= link_to "registrar-se", user_registration_path %>.</p>
</div>

