<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 intro-text">
        <%= image_tag 'logos/guru_sp_home_logo.svg',
        class: 'img-responsive',
          alt: 'Grupo de Usuários Ruby de São Paulo',
          size: '300x306' %>
          <hr class="star-light">
          <h1 class="subtitle">Grupo de Usuários Ruby de São Paulo</h1>
        </div>

        <div class="col-lg-4 col-lg-offset-2">
          <p>
            Somos um grupo de desenvolvedores de software entusiastas da <a href="https://www.ruby-lang.org/pt/">linguagem de programação Ruby.</a>
          </p>
        </div>

        <div class="col-lg-4">
          <p>
            Promovemos encontros presenciais para ensinar, aprender e divulgar o uso de Ruby e de
            ferramentas e técnicas relacionadas.
          </p>

        </div>

      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <h3>Próximo encontro</h3>
        <p>
          <%= next_meeting_message(@next_meeting) %>
        </p>
    </div>
  </div>
