<h2 class="title">#GURU-SP no IRC</h1>

<div class="inner">
<p>
  Nosso canal na rede <em>freenode</em> é o <strong>#guru-sp</strong>.
  Você pode acessá-lo por essa página (abaixo) e com certeza será bem recebido pelo nosso anfitrião, o
  <a href="https://github.com/guru-sp/Guru-sp-IRC-Bot" alt="Projeto Wyrd">Wyrd</a>.
</p>
<p>
  Se preferir um cliente nativo algumas opções gratuitas são:
  <ul>
  	<li><a href="http://www.irssi.org" alt="Página do irssi">irssi</a> - cliente em linha de comando para todas as plataformas.</li>
    <li><a href="http://colloquy.info" alt="Página do colloquy">Colloquy</a> - para Mac OSX;</li>
    <li><a href="http://www.hydrairc.com" alt="Página do HydraIRC">HydraIRC</a> - para Windows;</li>
  </ul>
</p>
<iframe src="http://webchat.freenode.net?nick=convidado.&channels=guru-sp&prompt=1&uio=MTE9MA4c" width="700" height="400"></iframe>
</div>

