<h2 class="title">Sobre o GURU-SP</h1>

<div class="inner">
  <p class="first">
  O <strong>Guru-SP (Grupo de Usuários de Ruby de São Paulo)</strong> foi fundado em <date>5 de outubro de 2008</date> na lista de discussão Rails-BR. Iniciou-se com uma lista de discussão e agora tem sua própria casa, este site, acessível através dos endereços http://www.guru-sp.org ou http://www.guru-sp.com.</p>
  </p>


<h2>Estatuto do GURU-SP</h2>
  <ol class="estatuto">
  <li>O grupo de usuários de Ruby de São Paulo (GURU-SP) tem como objetivos:</li>
    <ul>
      <li>Divulgar e promover a linguagem de programação Ruby na cidade de São Paulo e imediações (Grande ABC, região de Campinas e Grande São Paulo) através de eventos como palestras, discussões, apresentações de projetos e afins.</li>
      <li>Reuniões presenciais entre os membros do grupo para que estes possam discutir, ensinar e aprender sobre a linguagem Ruby e aspectos relacionados a programação e desenvolvimento de software.</li>
      <li>Colaborar com a comunidade Ruby nacional com a criação e tradução de conteúdos em língua portuguesa.</li>
      <li>Colaborar com a comunidade Ruby global com a criação e manutenção de projetos de código fonte aberto.</li>
    </ul>

  <li>Composição do grupo:</li>
  <ul>
    <li>Podem participar do grupo todos aqueles que desejarem, sendo vetada a discriminação dentro do mesmo, seja racial, cultural, religiosa ou sexual de acordo com a constituição brasileira.</li>
    <li>O grupo é composto por pessoas que estejam interessadas em ensinar, aprender e evoluir no aprendizado da linguagem Ruby.</li>
  </ul>
  </ol>
</div>

