
$light-yellow: #FBF8BC;
$blue:         #197CC9;
$darker-blue:  #005899;
$red:          #ED0000;
$guru-red:     #B00000;
$dark-red:     #600000;
$gray:         #333;
$gray-lighter: lighten(#000, 93.5%);
$light-red:    lighten($red, 95%);

$primary-color:   $guru-red;
$secondary-color: $blue;
$tertiary-color:  #1a1a1a;
$text-color:      $gray;
$hover-color:     $dark-red;
