body {
  overflow-x: hidden;
}

p {
  font-size: 20px;
}

p.small {
  font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
  color: $primary-color;
  outline: none;
}

header {
  text-align: center;
  background: $tertiary-color;
  color: white;
  .container {
    padding-top: 100px;
    padding-bottom: 50px;
  }
  img {
    display: block;
    margin: 0 auto 20px;
  }
  .intro-text {
    .name {
      display: block;
      font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 2em;
    }
    .skills {
      font-size: 1.25em;
      font-weight: 300;
    }
  }
}

@media(min-width:768px) {
  header {
    .container {
      padding: 200px 0 100px;
    }
    .intro-text {
      .name {
        font-size: 5em;
      }
      .skills {
        font-size: 1.75em;
      }
    }
  }
}

@media(min-width:768px) {
    .navbar-fixed-top {
        padding: 25px 0;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
      .navbar-brand {
          font-size: 2em;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          transition: all 0.3s;
      }
    }
    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    .navbar-brand {
          font-size: 1.5em;
      }
  }
}

.navbar {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  a:focus {
    outline: none;
  }
  .navbar-nav {
    letter-spacing: 1px;
    li {
      a:focus {
        outline: none;
      }
    }
  }
}

.navbar-default,
.navbar-inverse {
  border: none;
}

.scroll-top {
    position: fixed;
    right: 2%;
    bottom: 2%;
    width: 50px;
    height: 50px;
    z-index: 1049;
    .btn {
      font-size: 20px;
      width: 50px;
      height: 50px;
      border-radius: 100%;
      line-height: 28px;
      &:focus {
        outline: none;
      }
    }
}
