@media(min-width:768px) {
    .navbar-fixed-top {
        padding: 25px 0;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
      .navbar-brand {
          font-size: 2em;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          transition: all 0.3s;
      }
    }
    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    .navbar-brand {
          font-size: 1.5em;
      }
  }
}

.navbar {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  a:focus {
    outline: none;
  }
  .navbar-nav {
    letter-spacing: 1px;
    li {
      a:hover {
        color: $light-yellow;
      }
      a:focus {
        outline: none;
      }
    }
  }
}


.navbar-brand {
  margin: 0;
  padding-top: 15px;
}

.navbar-default,
.navbar-inverse {
  border: none;
}
