/* Override here any style defined by web-app-theme */

$guru_red: #a30000;
$dark_gray: #111111;
$medium_gray: #333333;
$gray: #c0c0c0;

@mixin links($color){
  a:link, a:hover, a:active, a:visited {
    color: $color;
    text-decoration: underline;
    text-shadow: none;
    margin: 0;
    padding: 0;
  }
}

@mixin button-gradient($start, $end) {
  background: $start; /* Old browsers */
  background: -moz-linear-gradient(top, $start 0%, $end 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$start), color-stop(100%,$end)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, $start 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, $start 0%,$end 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, $start 0%,$end 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start', endColorstr='$end',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, $start 0%,$end 100%); /* W3C */
}

@include links($guru_red);

#logo {
  float: left;
  margin: 10px 5px 0 0;
}

.estatuto {
  font-size: 110%;
  line-height: 140%;
  margin-left: 30px;
  ul {
  padding: 8px;
  }
}


#sidebar {
  .twitter_guru {
    background: url('/assets/twitter_bird.png') -5px -5px no-repeat;
    padding-left: 25px;
  }

  .follow_us {
    background: $medium_gray;
    clear: right;
    color: white;
    display: block;
    font-size: 110%;
    font-weight: bold;
    letter-spacing: 0.08em;
    padding: 10px 8px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    word-spacing: 0.32em;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    @include button-gradient(#666, $dark_gray);
  }

  .tweets {
  li {
    background: none;
    border-bottom: 1px dashed;
    list-style-type: none;
    margin: 0;
    padding: 12px;
    @include links($dark_gray);

    .date {
      color: $gray;
      padding-top: 4px;
    }

    }

  li:first-child {
    padding-top: 0px;
  }
  }

  .meeting {
    background-color: $guru_red;
    background-image: none;

  .date {
    font-size: 400%;
    width: 100%;
    text-align: center;
  }

  .place {
    font-size: 150%;
    text-align: center;
  }

  }

}

