/* Override here any style defined by web-app-theme */

$guru_red: #a30000;
$dark_gray: #111111;
$medium_gray: #333333;
$gray: #c0c0c0;

@mixin links($color){
  a:link, a:hover, a:active, a:visited {
    color: $color;
    text-decoration: underline;
    text-shadow: none;
    margin: 0;
    padding: 0;
  }
}

@mixin button-gradient($start, $end) {
  background: $start; /* Old browsers */
  background: -moz-linear-gradient(top, $start 0%, $end 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$start), color-stop(100%,$end)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, $start 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, $start 0%,$end 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, $start 0%,$end 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start', endColorstr='$end',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, $start 0%,$end 100%); /* W3C */
}

@include links($guru_red);

body {
  font-size: 15px;
  font-family: sans-serif;
  background: url('/assets/white_carbon_bg.png') repeat;
}

h3 {
  padding-top: 12px;
  line-height: 160%;
  margin: 0;
}

#main .block .content p {
  font-size: 15px;
  margin: 6px 0px;
}

.inner {
  ul {
    margin-left: 20px;
    li {
      line-height: 150%;
    }
  }
}

#logo {
  float: left;
  margin: 10px 5px 0 0;
}

.estatuto {
  line-height: 140%;
  margin-left: 30px;
  ul {
  padding: 8px;
  }
}

#sidebar {
  .twitter_logo {
    background: url('/assets/twitter_bird.png') -5px -5px no-repeat;
    padding-left: 25px;
  }

  .twitter {
    background: #019AD2;
  }

  .follow_us {
    background: $medium_gray;
    border-radius: 9px;
    color: white;
    display: block;
    font-size: 115%;
    font-weight: bold;
    margin: 0 auto;
    padding: 10px 8px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    word-spacing: 0.32em;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    @include button-gradient(#666, $dark_gray);
  }

  .tweets {
    .tweet_list {
      .tweet_avatar {
        padding-right: 3em; float: left;
        img {
        vertical-align: middle;
        margin-right: 6px;
        }
      }

      li{
        @include links(#FFF);
      }
    }

    li {
      background: none;
      border-bottom: 1px dashed;
      list-style-type: none;
      margin: 0;
      padding: 12px;

      .date {
        color: $gray;
        padding-top: 4px;
      }

    }

    li:first-child {
      padding-top: 0px;
    }
  }

  .next_meeting {
    background-color: $guru_red;
    background-image: none;

    a:link, a:hover, a:active, a:visited {
      color: white;
       text-decoration: none;
    }

    .date {
      font-size: 400%;
      width: 100%;
      text-align: center;
    }

    .venue {
      font-size: 150%;
      text-align: center;
    }

    .time {
      padding-top: 6px;
      font-size: 110%;
      text-align: center;
    }

  }
}

.meeting-body {
  .venue, .date {
    font-family: Verdana, sans-serif;
    font-size: 100%;
    margin: 4px 0px 6px 0px;
    padding: 4px 0px 4px 0px;
    color: $medium_gray;
    h3 {
      vertical-align: top;
      display: inline-block;
      padding: 0;
      margin: 0;
    }
  }
  .icon {
    background: $guru_red url('/assets/meeting-icons.png') no-repeat;
    border-radius: 3px 3px 3px 3px;
    height: 25px;
    width: 25px;
    margin-right: 5px;
    padding-left: 0;
    display: inline-block;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
  }

  .date-icon {
    background-position: -25px 0px;
  }

  .place-icon {
    background-position: 0px 0px;
  }
}

.meeting-id {
  color: $gray;
  font-size: 400%;
  width: 100%;
  text-align: center;
  padding: 20px 10px;
}

#map {
  width: 600px;
  height: 300px;
}

.thumbnail {
  padding: 6px;
  margin: 2px;
  background: #FCFCFC;
  display: block;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.3);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.3);
}

ul.album {
  margin: 20px;
  li {
      display: inline-block;
      list-style-type: none;
      padding: 0px;
      margin: 12px 6px;
  }
  a {
    display: block;
    -webkit-transition: -webkit-transform .15s linear;
  }
  a:hover {
  -webkit-transform: scale(1.20);
  -moz-transform: scale(1.20);
  position: relative;
  z-index: 5;
  }
}

ul.list{
  li {
    display: block;
    .description {
      height: 200px;
    }
    .left {
      float: left;
      display: block;
      position: relative;
      margin: 0 10px;
      .thumbnail {
        width: 160px;
        height: 160px;
      }
      .avatar {
        width: 80px;
        height: 80px;
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
        border-radius: 20px;
      }
    }
  }
}

  ul.years {
  width: 100%;
  display: block;
  list-style-type: none;
  margin: 18px;
  li {
    display: inline-block;
    font-size: 125%;
    margin-left: 6px;
  }
}

.none {
  padding: 18px;
}

.video, .slides {
  display: inline-block;
  position: relative;
  margin: 6px;
  vertical-align: top;
}
