<h2>Seja bem-vindo <%= @resource.email %>!</h2>
<div>
  <p>Você pode confirmar sua conta acessando a seguinte URL:</p>
  <p><%= link_to 'Confirmar minha conta', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
</div>

