<h2>Olá <%= @resource.email %>!</h2>
<div>
  <p>Alguém solicitou um link para alterar sua senha e você pode fazê-lo acessando a URL abaixo.</p>
  <p><%= link_to 'Alterar minha senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>
  <p>Se você não fez esse pedido, por favor ignore ess email.</p>
  <p>Sua senha não se alterará caso você não acesse o link e escolha uma nova senha.</p>
</div>

