<h1>Seja bem vindo!</h1>

<p>
O <strong>Guru-SP</strong>, Grupo de Usuários Ruby de São Paulo, é uma associação de pessoas interessadas em aprender, ensinar e divulgar o uso da linguagem de programação Ruby e seus diferentes frameworks, bibliotecas e aplicações como os frameworks Rails/Merb e Sinatra, o FXRuby, JRuby e o Shoes.
</p>

<p>
O <strong>Guru-SP</strong> foi fundado em <date>5 de outubro de 2008</date> na lista de discussão Rails-BR. Iniciou-se com uma lista de discussão e agora tem sua própria casa, este site, acessível através dos endereços http://www.guru-sp.org ou http://www.guru-sp.com.</p>
</p>

<p>
Para participar é simples: basta inscrever-se em nossa lista de discussão para conhecer mais pessoas interessadas na linguagem que foi criada para a alegria dos programadores. Se quiser aparecer na lista de membros deste site, basta inscrever-se.
</p>

<p>
Neste site você encontra recursos e materiais para o aprendizado de Ruby, informações sobre projetos próprios e eventos.
</p>
